.gridContainer{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 31px;
    padding: 10px;
    width: 100%;
    max-width: 23.125rem;
}

.buttonReturn{
    max-width: 5rem;
}