.input{
    background-color: var(--grey-2);
    border-radius: 4px;
    width: 100%;
    height: 38px;
    padding: 0 16px;
    color: var(--grey-1);

    &::placeholder{
        color: var(--grey-1);
    }

    &:focus{
        border: 1.218px solid var(--grey-0);
        color: var(--grey-0);

        &::placeholder{
            color: var(--grey-0);
        }
    }
}