.formContainer{
    display: flex;
    justify-content: center;
}

.selectContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.select{
    color: var(--grey-0);
    & > option{
        color: white;
    }
}